<div class="loginForm">
    <form [formGroup]="loginForm" (ngSubmit)="userLogin()">
        <div class="mb-3">
          <label for="userName" class="form-label">User Name</label>
          <input type="text" class="form-control" id="userName" aria-describedby="userNameHelp" 
                formControlName="userName">
        </div>
        <div class="mb-3">
          <label for="userPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="userPassword" formControlName="userPassword">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
    </form>
</div>
